.date {
  color: #767676;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  margin: 20px 0 27px;
}

.header {
  text-align: center;
}

.result {
  color: #000;
  font-size: 44px;
  font-weight: 400;
  line-height: 100%;
  margin: 2px 0 0;
}

.subtitle {
  color: #767676;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  margin: 0;
}
